:root {
    --color-green-pya-900: #045F51;
    --color-green-pya-600: #32B6A1;
    --color-green-pya-200: #0A7C6A;

    --color-black-pearl-0: #f1f1f1;
    --color-black-pearl-50: #e4ebee;
    --color-black-pearl-100: #c9d6de;
    --color-black-pearl-400: #7799ac;
    --color-black-pearl-700: #3c5562;
    --color-black-pearl-800: #2c3d47;
    --color-black-pearl-900: #1b262c;

    --black-dark-theme-color: #151515;

    --color-gray-200: #757474;
    --color-gray-400: #DEDEDE;

    --white-color: #ffffff;

    --font: "Inter", sans-serif;
}